@model Catalog_DataAccessLayer.Models.PersonViewModel
@{
    ViewData["Title"] = "UpdatePerson";
}
<h1>Update Person Information</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color:aliceblue">
    
    <div class="container">
        @using (Html.BeginForm("UpdatePerson","Person",FormMethod.Post))
        {
            @Html.HiddenFor(m=>m.person.PersonID)
            <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="text" asp-for="person.FirstName" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">LastName</label>
            <input type="text" asp-for="person.LastName" class="form-control"  placeholder="LastName">
          
        </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Email Address</label>
          <input type="text" asp-for="person.Email_Address" class="form-control"  placeholder="Email Address">
           
      </div>
        <div class="form-group">
          <label for="inputAddress2">Password</label>
          <input type="text" asp-for="person.Password" class="form-control"  placeholder="Password">
        </div>
         <div class="form-group">
            <label for="inputAddress2">Age</label>
            <input type="text" asp-for="personProfile.Age" class="form-control" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Age</label>
            <input type="text" asp-for="personProfile.NationalId" class="form-control" placeholder="National ID Number">
        </div>
          <div class="form-group">
            <label for="inputAddress2">Age</label>
            <input type="text" asp-for="personProfile.Educational_Information" class="form-control" placeholder="National ID Number">
        </div>
      
  
       <button type="submit" class="mt-2 w-100 green btn btn-success"> <i class="fa-solid fa-prescription"></i>Create Person</button>
            <a class="mt-2 w-100 green btn btn-success" asp-controller ="Person" asp-action="AllPerson" class="btn btn-primary">
           <i class="bi bi-plus-lg"></i> &nbsp See All Person
       </a>
        }
    </div>

</body>
</html>




